html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#areaInfo{
    position:absolute;
    top:10px;
    left:10px;
    padding:6px 10px;
    background:rgba(20,20,20,0.8);
    z-index:10;
    color: whitesmoke;
    font-family:"Roboto Medium";
}